Table {
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    user-select: none;
    border-collapse: separate;
}

.gridCell {
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    max-width: 2em;
    max-height: 2em;
    transition: background-color .5s;
}

.algoSelection {
    margin-right: 20px;
}

.algoButton {
    color: white;
}

.buttonClear {
    margin-left: 20px;
    background-color: transparent;
    color: red;
    border: 2px solid darkred;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    transition: background-color 1s, color 1s;
}

.buttonClear:hover {
    background-color: darkred;
    color: white;
}

.buttonVisualize {
    margin-left: 20px;
    background-color: transparent;
    color: lightgreen;
    border: 2px solid #1FAF98;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    transition: background-color 1s, color 1s;
}

.buttonVisualize:hover {
    background-color: #1FAF98;
    color: white;
}

.defaultNode {
    background-color: rgba(204, 196, 185, 0.726) !important;
}

.startNode {
    background-color: #36BCEE !important;
}

.targetNode {
    background-color: #1FAF98 !important;
}

.wallNode {
    background-color: black !important;
}

.pathNode {
    background-color: rgb(231, 174, 16) !important;
}

.visitedNode {
    background-color: rgb(93, 135, 252) !important;
}

.registeredNode {
    background-color: rgb(116, 241, 189) !important;
}